<% if @cur_url == "/recent" %>
  <div class="box" id="leader">
    <em>The <a href="/newest">newest</a> stories with a random sampling of
    recently submitted stories that have not yet reached the front page.</em>
  </div>
<% end %>

<% if @cur_url == "/" %>
<% stories = [
   "the internet’s oldest community",
   "the envy of bazaars overseas",
   "not afraid to love, again",
   "in peak physical condition, sources say",
   "looking at you shyly",
   "taking life TWO steps at a time",
   "truly wonderful, said Ms. Trudy Wonlerfud",
   "still here, after all this time",
   "the owner of two same snowflakes, promises not to tell anybody",
   "heart in hand and lost at sea",
   "just spice-route gossip",
   ] %>

<% story = stories[rand(stories.length)] %>
  <div class="box guess" id="leader">
    <p><em>Barnacles</em> is <%= story %>. To submit a URL or ask a question, </p>
    <form method="post" action="/stories/guess">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="input" placeholder="e.g. <%= rand(2) == 0 ? "http://www.reddit.com/r/ArtisanVideos/" : "Ask Barnacles: What's tsking vs. whisking?" %>" name="text" tabindex="1"><input type="submit" value="Submit Story" tabindex="2">
    </form>
  </div>
<% end %>

<ol class="home stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
  <%= render :partial => "stories/listdetail", :collection => @stories,
    :as => :story %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%=
      @page == 2 ? "" : "page/#{@page - 1}" %>">&lt;&lt; Page
      <%= @page - 1 %></a>
  <% end %>

  <% if @show_more %>
    <% if @page && @page > 1 %>
      |
    <% end %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %>page/<%=
      @page + 1 %>">Page <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>
