<% if @cur_url == "/recent" %>
  <div class="box" id="leader">
    <em>The <a href="/newest">newest</a> stories with a random sampling of
    recently submitted stories that have not yet reached the front page.</em>
  </div>
<% end %>

<% if @cur_url == "/" %>
<% stories = [
   "is the envy of bazaars overseas",
   "is in peak physical condition, sources say",
   "is looking at you shyly",
   "is spice-route gossip",
   "is rubbing its chin thoughtfully",
   "is gone when you wake up in the morning",
   "is the one who port-knocks",
   "is unsure of where to stand in the whole East vs. West Coast debate",
   "is three syllables and a whole lotta heart",
   "remembers the part where Harry digs Dobby’s grave",
   ] %>
<% ads = "ab" %>

<fieldset class="ad" title="Barnaclad is a hand-curated ad network / webring comprised of mathematicians, plumbers, and eccentric ice-cream makers. Your advertisement is an email away; simply message the mayor.">
  <legend>Barnaclad™</legend>
  <% ad = ads[rand(ads.length)] %>
  <% if ad == "a" %>
  <p><a href="https://threegoodthings.xyz/">Three Good Things</a> — the daily journal for people on the go</p>
  <% elsif ad == "b" %>
  <p><a href="http://jack-bowman.com/betazoid">Betazoid</a> — are they at peace</p>
  <% end %>
</fieldset>

<% story = stories[rand(stories.length)] %>
  <div class="box guess" id="leader">
    <p><em>Barnacles</em> <%= story %>. To submit a URL or ask a question, </p>
    <form method="post" action="/stories/guess">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="input" placeholder="e.g. <%= rand(2) == 0 ? "http://www.reddit.com/r/ArtisanVideos/" : "Ask Barnacles: What's tsking vs. whisking?" %>" name="text" tabindex="1"><input type="submit" value="Submit Story" tabindex="2">
    </form>
  </div>
<% end %>

<ol class="home stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
  <%= render :partial => "stories/listdetail", :collection => @stories,
    :as => :story %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%=
      @page == 2 ? "" : "page/#{@page - 1}" %>">&lt;&lt; Page
      <%= @page - 1 %></a>
  <% end %>

  <% if @show_more %>
    <% if @page && @page > 1 %>
      |
    <% end %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %>page/<%=
      @page + 1 %>">Page <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>
