<li id="story_<%= story.short_id %>" data-shortid="<%= story.short_id %>"
class="story <%= story.vote == 1 ? "upvoted" : "" %> <%= story.vote == -1 ?
"downvoted" : "" %> <%= story.vote == 0 ? "hidden" : "" %> <%= story.is_expired? ?
"expired" : "" %>">
<div class="story_liner">
  <div class="voters">
    <% if @user %>
      <a class="upvoter"></a>
    <% else %>
      <%= link_to "", login_url, :class => "upvoter" %>
    <% end %>
    <div class="score"><%= story.score %></div>
  </div>
  <div class="details">
    <div class="has-fancy-underline story_text">
    <span class="link">
      <% if story.can_be_seen_by_user?(@user) %>
        <a href="<%= story.url_or_comments_url %>"><%= raw(Typogruby.improve_ex(story.title.gsub('<', '&lt;').gsub('>', '&gt;'))) %></a>
        <% end %>
    </span>
    <% if story.is_gone? %>
      [Story removed by <%= story.is_moderated? ? "webmaster" :
        "original submitter" %>]
    <% end %>
    <% if story.markeddown_description.present? %>
      <%= raw story.markeddown_description %>
    <% end %>
    </div>
    <% if story.can_be_seen_by_user?(@user) %>
    <div class="meta">
      <span class="tags">
        <a class="tag tag_username" href="/u/<%= story.user.username %>"><%= story.user.username %></a>

        <% unless story.truth %>
        <a class="tag tag_truth">fake</a>
        <% end %>

        <% story.taggings.sort_by{|t| t.tag.tag }.sort_by{|t|
        t.tag.is_media?? -1 : 0 }.each do |tagging| %>
          <a href="<%= tag_url(tagging.tag.tag) %>"
            class="<%= tagging.tag.css_class %>"
            title="<%= tagging.tag.description %>"><%= tagging.tag.tag %></a>
        <% end %>
        <a class="tag tag_domain" title="please don't click me"><%= story.domain || '._.' %></a>
        <a class="tag tag_date"><%= raw(time_ago_in_words_label(story.created_at).gsub(/about /, "")) %></a>
      </span>
    </div>
    <% if !story.is_gone? %>
      <div class="comments_label">
      <ul class="mod">
        <% if story.is_editable_by_user?(@user) %>
          <li><a href="<%= edit_story_url(story.short_id) %>">edit</a></li>

          <% if story.is_gone? && story.is_undeletable_by_user?(@user) %>
          <li><%= link_to "undelete", story_undelete_url(story.short_id),
              :method => :post, :data => {
              :confirm => "Are you sure you want to undelete this story?" } %></li>
          <% elsif !story.is_gone? %>
            <% if story.user_id != @user.try(:id) &&
            @user.try(:is_moderator?) %>
              <li><%= link_to "delete", story_url(story.short_id),
                :method => :delete, :class => "mod_story_link" %></li>
            <% else %>
              <li><%= link_to "delete", story_url(story.short_id),
                :method => :delete, :data => {
                :confirm => "Are you sure you want to delete this story?" } %></li>
            <% end %>
          <% end %>
        <% end %>

        <% code, place = RandomFlags.one %>
        <li><a class="flagger">flag</a>
        <span class="f32">
            <span class="flag <%= code %>"></span>
            <span><%= place %></span></li>
        </span>
      </ul>
      <a class="comments_link <%= story.comments_count > 0 ? 'active' : '' %>" href="<%= story.comments_url %>">
          <% if story.comments_count == 0 %>
          respectful silence
          <% else %>
          <%= story.comments_count %> <%= story.comments_count > 15 ? 'fucking' : '' %> <%= 'comment'.pluralize(story.comments_count) %>
          <% end %>
      </a>
      </div>
    <% end %>

    <% end %>
  </div>
</div>
<div class="mobile_comments <%= story.comments_count == 0 ? "zero" : "" %>"
style="display: none;">
  <a href="<%= story.comments_url %>"><%= story.comments_count %></a>
</div>
</li>
